body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: 
    #117a67;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.project {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}
p{
    color: #fdfff9ef;
    padding: auto;
}
/* Add more styles as needed */
